@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Pretendard;
  background-color: #f9f9f9;
  margin: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.app-frame {
  width: 390px;
  height: 844px;
  position: relative;
  overflow-y: hidden;
}

/* 스크롤바는 숨김 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}